<div class="welcome">
  <h2>¡Bienvenido!</h2>
  <div class="descripcion">
    Esta es una aplicación para calcular el presupuesto de una página web,
    la cual empezará con tres checkboxes mediante los cuales el usuario podrá
     decidir si desea obtener el presupuesto de:
  </div>
  <ul>
    <li>
      Una página web (500 €)
    </li>
    <li>
      Una campaña SEO (300 €)
    </li>
    <li>
      Una campaña de publicidad (200 €)
    </li>
</ul>
  <p>
    En función de las opciones que marque, se mostrará un precio distinto.
</p>
  <div class="descripcion">
    Pulsa el botón iniciar para acceder a nuestra calculadora de presupuestos.
  </div>
  <a routerLink="/home">Iniciar</a>
</div>
