<!-- <form [formGroup]="validaForm" (ngSubmit)="enviar(validaForm.value)" class="contenedor"> -->
<form [formGroup]="validaForm" (ngSubmit)="enviar()" class="contenedor">
  <div class="input-group">
    <label for="">Número de páginas </label>
    <app-pages (onNewNumber)="pages($event, 'pages')"></app-pages>
    <!-- <span class="mesageError" *ngIf="campoEsValido('numeroPaginas')">Ingresa un valor válido</span> -->
  </div>
  <div>
    <label for="">Número de idiomas </label>
    <app-pages (onNewNumber)="languages($event, 'languages')"></app-pages>
    <!-- <span class="mesageError" *ngIf="campoEsValido('numeroIdiomas')">Ingresa un valor válido</span> -->
  </div>
</form>
